<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <!--
      It is to support plus symbol (+) in developer environment with IIS Express, it does not affect us in
      unit tests or test or production environments because we are using Kestrel behind Traefik
      -->
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
</configuration>
